
// Font families
$font-family: 'Sanchez', -apple-system, BlinkMacSystemFont,
                    'Segoe UI', 'Helvetica Neue', Arial,sans-serif;

// Font sizes
$body-mobile: 14px;
$subtitle-mobile: 24px;
$title-mobile: 20px;
$logo-size-mobile: 22px;

$body: 16px;
$subtitle: 24px;
$title: 36px;
$logo-size: 42px;

// Font weights
$base-font-weight: 300;
$bold-font-weight: 600;
