
// Color
$base-font-color: #333;
$primary: #2F80ED;
$secondary: #FFDA69;
$alert: #EB5757;
$success: #27AE60;
$warning: #F2C94C;
$body-font-color: #333333;
$header-font-color: #000000;

// Border radius
$radius: 12px;
$form-input-radius: 100px;

$base-padding: 24px;
$base-padding-desktop: 48px;
$base-margin-desktop: 48px;
$base-margin: 24px;

// Image
$avatar-dim-mobile: 100px;
$avatar-dim-desktop: 100px;
